.text
  font-size 13px
  line-height 1.6em
  overflow hidden
  zoom 1
  a
    text-decoration underline
  h4
    font-size 24px
    margin 10px 0 0
    font-weight bold
  h5
    font-size 20px
    margin 10px 0 0
    font-weight bold
  h6
    font-size 18px
    margin 10px 0 0
    font-weight bold
  pre
    max-height 400px
    margin 0
    padding 10px 14px
    background #fcfcfc
    border 1px solid #eaeaea
    border-radius 3px
    font normal 12px/1.5 Menlo, Monaco, Consolas, monospace
    overflow auto
    clear both
  code
    background #fcfcfc
    font-family Menlo, Monaco, Consolas, monospace
    border 1px solid #eaeaea
    border-radius 3px
    padding 2px 5px
  blockquote
    margin 0
    padding 15px 20px
    background #fafafa
    color #555
    clear both
    border-left 5px solid #eee
  ul
    list-style-type disc
  ol
    list-style-type decimal
  dd
    margin 0 0 0 40px
  img[align="right"]
    margin 5px 0 5px 15px
  img[align="left"]
    margin 5px 15px 10px 0
  img[align="center"]
    display block
    margin 5px auto 5px auto
  img
    &.image-center
      display block
      margin 5px auto 5px auto
  table
    border 1px solid #e1e1e1
    clear both
  p
    margin-bottom 1em
  .ls-user
    color #333
    &:visited
      color #333
    &:hover
      color #555

  ul, ol
    margin 0
    padding 0 0 0 40px

  object, iframe, img
    max-width 100%

  table
    td, th
      padding 5px 10px
      border 1px solid #e1e1e1

